// Mixin for shared input styles

@mixin shared-checkbox-styles {
  .ao-checkbox, .ao-radio {
    position: relative;
    display: block;
    margin-bottom: 2px;
    line-height: $line-height-base;
  
    &__label {
      margin-bottom: 0;
      cursor: pointer;
    }
    
    &__content {
      display: inline-block;
      font-weight: normal;
      vertical-align: top;
    }
    
    &__label-text {
    }
  
    &__input {
      box-sizing: border-box;
      line-height: normal;  
      padding: 0;
      margin: 0;
      margin-right: 0.5rem;
      position: relative;
      top: -1px;
    }
    
    &:last-of-type {
      margin-bottom: 1rem;
    }
    
    &__info-text {
      margin-bottom: $spacer-micro;
      font-size: $font-size-sm;
      color: $color-gray-30;
    }
  }
}
