// Mixin for shared input styles

@mixin shared-input-styles {
  .ao-form-control {
    display: block;
    width: 100%;
    min-width: 60px;
    max-width: 100%;
    height: $input-height-base;
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $input-color;
    background-color: $color-white;
    background-image: none;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    padding: $spacer-micro $spacer-sm;
    transition: border-color $transition-base;
    &:active:not([disabled]),
    &:focus {
      outline: 0;
      box-shadow: $input-focus-shadow;
      border-color: $input-focus-border-color;
    }
    &[disabled],
    &[readonly] {
      background-color: $color-gray-80;
      border-color: $color-gray-60;
      opacity: 1;
    }
    &[disabled] {
      cursor: not-allowed;
    }
    &--invalid {
      border-color: $input-border-color-error;
      &:active:not([disabled]),
      &:focus {
        border-color: $input-border-color-error;
        box-shadow: $input-focus-shadow-error;
      }
    }
    &--small {
      height: $input-height-sm;
      padding: $spacer-micro;
      font-size: $font-size-sm;
    }
  }
  
  .ao-input-container {
    display: flex;
    flex-wrap: wrap;
    
    // this will ensure nice vertical / horizontal spacing whenever the elements wrap
    margin-bottom: -$spacer-micro;
    margin-left: -$spacer-micro;
    margin-right: -$spacer-micro;
    
    & > * {
      margin-bottom: $spacer-micro;
      margin-left: $spacer-micro;
      margin-right: $spacer-micro;    
    }
  }
  
  .ao-input-group {
    display: table;
    border-collapse: separate;
    & .ao-form-control {
      display: table-cell;
      width: 100%;
      margin-bottom: 0;
      &:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
    &__addon {
      align-items: center;
      height: $input-height-base;
      padding: $spacer-micro $spacer-sm;
      font-size: $font-size-base;
      font-weight: normal;
      color: $color-gray-20;
      text-align: center;
      background-color: $color-gray-80;
      border: 1px solid $input-border-color;
      border-radius: $input-border-radius;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
      &:last-child {
        border-left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
  .ao-form-group {
    margin-bottom: $spacer;
    label {
      display: inline-block;
      max-width: 100%;
      margin: $input-label-margin;
      font-weight: $font-weight-bold;
    }
  }

  .ao-form-group__label {
    & .ao-tooltip {
      margin-left: $spacer-micro;
    }
  }
  
  .ao-form-group__instruction-text {
    display: block;
    font-size: $font-size-xs;
    color: $color-gray-30;
    margin-top: $spacer-micro;
  }
}
