// Elements
//
// Styles for basic HTML elements

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-primary;
  font-size: 1rem;
  line-height: $line-height-base;
  background-color: $layout-background-color;
  -webkit-font-smoothing: antialiased;
  color: $font-color-base;
}

h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-light;
}

h2 {
  font-size: $font-size-xl;
  font-weight: $font-weight-light;
}

small {
  font-size: $font-size-sm;
}

a {
  color: $color-primary;
}

p {
  margin-bottom: $spacer;
}

label {
  margin-bottom: $spacer;
  display: inline-block;
  font-weight: $font-weight-bold;
}

strong {
  font-weight: $font-weight-bold
}

hr {
  margin-top: $spacer;
  margin-bottom: $spacer;
  border: 0;
  border-top: 1px solid $ui-border-color-base;
}
