$custom-glyph-font-path: '~@/assets/fonts/icons';

@font-face {
  font-family: "custom-glyphs";
  src:url("#{$custom-glyph-font-path}/custom-glyphs.eot");
  src:url("#{$custom-glyph-font-path}/custom-glyphs.eot?#iefix") format("embedded-opentype"),
    url("#{$custom-glyph-font-path}/custom-glyphs.woff") format("woff"),
    url("#{$custom-glyph-font-path}/custom-glyphs.ttf") format("truetype"),
    url("#{$custom-glyph-font-path}/custom-glyphs.svg#custom-glyphs") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom-glyphs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="custom-glyph-"]:before,
[class*=" custom-glyph-"]:before {
  font-family: "custom-glyphs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-glyph-archive:before {
  content: "\61";
}
.custom-glyph-barcode:before {
  content: "\62";
}
.custom-glyph-barcode-gun:before {
  content: "\63";
}
.custom-glyph-check:before {
  content: "\66";
}
.custom-glyph-clients:before {
  content: "\68";
}
.custom-glyph-complaint:before {
  content: "\69";
}
.custom-glyph-discount:before {
  content: "\6a";
}
.custom-glyph-edit:before {
  content: "\6b";
}
.custom-glyph-production:before {
  content: "\6c";
}
.custom-glyph-print:before {
  content: "\6e";
}
.custom-glyph-prescription:before {
  content: "\6f";
}
.custom-glyph-potted-plant:before {
  content: "\70";
}
.custom-glyph-potency:before {
  content: "\71";
}
.custom-glyph-policy:before {
  content: "\72";
}
.custom-glyph-packaging-run:before {
  content: "\73";
}
.custom-glyph-order:before {
  content: "\74";
}
.custom-glyph-medical:before {
  content: "\75";
}
.custom-glyph-lot:before {
  content: "\76";
}
.custom-glyph-lock:before {
  content: "\78";
}
.custom-glyph-location:before {
  content: "\79";
}
.custom-glyph-product:before {
  content: "\44";
}
.custom-glyph-qa:before {
  content: "\45";
}
.custom-glyph-raw-materials:before {
  content: "\46";
}
.custom-glyph-recall:before {
  content: "\48";
}
.custom-glyph-registration:before {
  content: "\49";
}
.custom-glyph-return:before {
  content: "\4b";
}
.custom-glyph-sales-channels:before {
  content: "\4c";
}
.custom-glyph-scale:before {
  content: "\4d";
}
.custom-glyph-thumbtack:before {
  content: "\4e";
}
.custom-glyph-trade:before {
  content: "\4f";
}
.custom-glyph-unlock:before {
  content: "\50";
}
.custom-glyph-user:before {
  content: "\51";
}
.custom-glyph-vault:before {
  content: "\52";
}
.custom-glyph-wholesale:before {
  content: "\53";
}
.custom-glyph-x:before {
  content: "\54";
}
.custom-glyph-print-checked:before {
  content: "\64";
}
.custom-glyph-print-unchecked:before {
  content: "\65";
}
.custom-glyph-grow-room:before {
  content: "\67";
}
.custom-glyph-work-order:before {
  content: "\6d";
}
.custom-glyph-grow:before {
  content: "\77";
}
.custom-glyph-undo:before {
  content: "\7a";
}
.custom-glyph-vendors:before {
  content: "\41";
}

